html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    margin-bottom: 60px; /* Margin bottom by footer height */
    /* background-image: url("../images/wwii.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat; */
}

.game {
    min-height: 600px;
}

#title {
    align-items: center;
}

.choice {
    font-size: 20px;
    cursor: pointer;
    width: 300px;
    text-align: left;
    margin-left: 300px;
    padding: 10px;
}

.choice:hover {
    border-radius: 25px;
    padding: 9px;
    border: 1px solid rgb(95, 94, 94);
  }

#image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 15px;
}

.push {
    margin: 50px;
    height: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    text-align: center;
}

@media screen and (max-width: 980px) {
    .container {
      width: 100%;
    }
  
    .choice {
        cursor: pointer;
        width: 300px;
        text-align: left;
        margin-left: 250px;
        padding: 10px;
    }

    #image {
        width: 400px;;
    }
  }
  
  /* max width 768px */
  @media screen and (max-width: 768px) {
    .container {
        width: 100%;
    }
    
    .choice {
          cursor: pointer;
          width: 300px;
          text-align: left;
          margin-left: 150px;
          padding: 10px;
    }
  
    #image {
        width: 300px;;
    }
  }
  
  /* Max width 640px */
  @media screen and (max-width: 640px) {
    .container {
        width: 100%;
    }
    
    .choice {
          cursor: pointer;
          width: 200px;
          text-align: left;
          margin-left: 160px;
          padding: 10px;
    }
  
    #image {
        width: 200px;;
    }
}
